* {
    font-family: 'Courier New', Courier, monospace;
}

.button-container {
    display: flex;
    justify-content: center;
}

.buttons {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
}

.button {
    font-size: 3em;
    background-color: yellow;
    outline: 2px black solid;
}

.smButton {
    font-size: 2em;
    padding: .2rem 1rem;
}

#draw {
    outline: 2px solid black;
}

#draw:hover,.draw-clicked {
    background-color: green;
}

/* when applying this rule to the erase button it was overwritten 
by the other .erase rule, had to apply this inline in JS */
.erase:hover {
    outline: 2px solid black;
    color: black;
    background-color: red;

}

.erase {
    background-color: black;
    color: white;
}

.button:hover {
    background-color: black;
    color: white;
    outline: 2px red solid;
}

.page {
    display: flex;
    justify-content: center;
}

.container {
    outline: red 6px solid;
    height: 900px;
    width: 1100px;
    display: flex;
    flex-flow: wrap;
}

/* had to create a formula in JS to fill out the space with flex*/

.hovered {
    background-color: black;
}