* {
    font-family: 'Courier New', Courier, monospace;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 5em;
    background-color: yellow;
    outline: 2px black solid;
    margin-bottom: 2vh;
}

.button:hover {
    background-color: black;
    color: white;
    outline: 2px red solid;
}

.page {
    display: flex;
    justify-content: center;
}

.container {
    outline: red 6px solid;
    height: 900px;
    width: 900px;
    display: flex;
    flex-flow: wrap;
}

/* had to create a formula in JS to fill out the space with flex*/

.hovered {
    background-color: black;
}